<form action="">
  <div class="container">
    <div class="box">
      <label for="nome">Nome</label> <br>
      <input type="text" name="nome" id="nome">
    </div>
    <input class="btn-generico" type="submit" value="Salvar">
  </div>
</form>