.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    color: #263238;
    padding: .5em;
    size: 1.2em;
    margin: 10px;
}

.box label {
    font-size: 1.3em;
}

.box input {
    background-color: #ECEFF1;
    font-size: 1.2em;
    border: none;
}

.btn-generico {
    background-color: #263238;
    border: none;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 0em;
    border-radius: 50%;
    margin: 10px;
}